Checks: |
  boost-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-owning-memory,
  llvm-*,
  misc-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  portability-*,
  readability-*,
  -readability-redundant-access-specifiers,
  -readability-identifier-length,
